.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: Arial, sans-serif;
  background:#ffe4e9;; /* powder pink */
}

.container {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.form {
  width: 300px;
}

.form input, .form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.preview {
  width: 400px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 182, 193, 0.5);
  text-align: left;
}

h1 {
  color: #333;
}
.preview {
  width: 500px;
  background: white;
  padding: 25px;
  border-radius: 5px;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

.preview h2 {
  text-align: center;
  margin-bottom: 10px;
}

.preview h3 {
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  margin-top: 15px;
}

.preview ul {
  margin-left: 20px;
}
